*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 28px;
}
body{
    min-width: 100vw;
    min-height: 100vh;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table,th,td{
    background-image: linear-gradient(0deg,#08b8f8 0%,#2af598);
    border: 4px solid cornflowerblue;
    font-size: 25px;
    color: black;
    font-family: sans-serif;
}